<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Receptjeim</title>

    <link rel="stylesheet" th:href="@{/css/default.css}">
    <link th:replace="fragments :: bootstrap_css">
</head>
<body>
<div th:replace="fragments :: navbar"></div>

<main class="container" th:object="${updateRecipeForm}">
    <h2 class="text-center mt-5 mb-4" th:text="'Recept szerkesztése: ' + *{recipeName}"></h2>
    <hr>
    <form th:action="@{'/recipes/edit/' + *{id}}"
          th:method="post"
          class="needs-validation"
          novalidate>
        <div class="form-group">
            <label for="recipeNameInput">Recept neve</label>
            <input type="text"
                   class="form-control"
                   id="recipeNameInput"
                   th:field="*{recipeName}"
                   placeholder="Név">
        </div>
        <div class="form-group">
            <label for="recipeDescInput">A recept rövid leírása</label>
            <textarea class="form-control"
                      rows="3"
                      id="recipeDescInput"
                      placeholder="Leírás..."
                      th:field="*{description}"></textarea>
        </div>
        <div th:each="ingredient, status : ${updateRecipeForm.ingredients}" class="input-group my-1">
            <label>
                <input class="form-control" th:field="*{ingredients[__${status.index}__]}">
            </label>
            <div class="input-group-append">
                <button class="btn btn-danger ms-2" type="submit" name="removeIngredient" th:value="${status.index}">
                    Eltávolítás
                </button>
            </div>
        </div>
        <button class="btn btn-primary mt-2" type="submit" name="addIngredient">Új hozzávaló hozzáadása</button>
        <br>
        <div th:each="step, status : ${updateRecipeForm.steps}" class="input-group my-1">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend" th:text="*{__${status.index}__}"></span>
            </div>
            <label>
                <textarea rows="3" class="form-control" th:field="*{steps[__${status.index}__]}"></textarea>
            </label>
            <div class="input-group-append">
                <button class="btn btn-danger ms-2" type="submit" name="removeStep"
                        th:value="*{__${status.index}__}">Eltávolítás
                </button>
            </div>
        </div>
        <button class="btn btn-primary mt-2" type="submit" name="addStep">Új lépés hozzáadása</button>
        <br>
        <button class="btn btn-success mt-2" type="submit">Kész!</button>
    </form>
</main>

<div th:replace="fragments::footer"></div>

</body>
</html>