<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bejelentkezés</title>
    <link th:replace="fragments::bootstrap_css">
    <link rel="stylesheet" th:href="@{/css/default.css}">
</head>
<body>

<div th:replace="fragments::navbar"></div>

<div class="container w-75 h-80">
    <h2 class="text-center mt-3 mb-1">Bejelentkezés</h2>
    <form th:action="@{/login}" method="post">
        <!-- Email input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="username">Email cím</label>
            <input type="text" id="username" name="username" class="form-control"/>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="password">Jelszó</label>
            <input type="password" id="password" name="password" class="form-control"/>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4 w-100">Bejelentkezés</button>
    </form>
    <p class="text-center">
        A belépéshez <a th:href="@{/register}">regisztráció</a> szükséges.
    </p>
</div>

<footer th:replace="fragments::footer"></footer>
<script th:replace="fragments::bootstrap_js"></script>
</body>
</html>