<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Saját receptek</title>
    <link rel="stylesheet" th:href="@{/css/my_recipes.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div class="container">

    <header th:replace="fragments :: header"></header>

    <aside th:replace="fragments :: aside_left"></aside>

    <aside th:replace="fragments :: aside_right"></aside>

    <footer th:replace="fragments :: footer"></footer>

    <!--From here comes the code that differs -->
    <main class="main">
        <p>
            <a class="buttonmod" href="/recipes/create">Új recept hozzáadása</a>
        </p>
        <section>
            <div class="container_recipe" th:each="recipe : ${recipes}">
                <h1 th:text="${recipe.name}">Hétfő</h1>
                <div class="img_container" th:switch="${recipe.name}">
                    <img class="food" th:case="'Amerikai Palacsinta'" th:src="@{/images/palacsinta.jpeg}" title="food_img"/>
                    <img class="food"  th:case="'Tyúkhúsleves'" th:src="@{/images/tyukleves.jpeg}" title="food_img"/>
                    <img class="food"  th:case="*" th:src="@{/images/default.jpeg}" title="food_img"/>
                </div>
                <p class="description" th:text="${recipe.description}"></p>
                <a class ="cookit" th:href="@{'/recipes/' + ${recipe.recipeId}}" style="grid-column: 3;	grid-row: 2;">Elkészítem</a>
                <a class ="mod" th:href="@{'/recipes/edit/' + ${recipe.recipeId}}"style="grid-column: 3;	grid-row: 3;">Módosítás</a>
                <form class="del" th:action="@{'/recipes/delete/' + ${recipe.recipeId}}" method="delete" style="grid-column: 3;	grid-row: 4;">
                    <button type="submit">Törlés</button>
                </form>
            </div>
        </section>

    </main>

</div>
</body>
</html>

