<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Receptjeim</title>

    <link rel="stylesheet" th:href="@{/css/default.css}">
    <link th:replace="fragments :: bootstrap_css">
</head>
<body>
<div th:replace="fragments :: navbar"></div>

<main class="container">
    <h2 class="text-center mt-5 mb-2">Receptjeim</h2>
    <a th:href="@{/recipes/create}" class="btn btn-success mb-3">Új recept hozzáadása</a>

    <div class="card" th:each="recipe: ${recipes}">
        <div class="card-body">
            <h4 class="card-title" th:text="*{name}"></h4>
            <p class="card-text" th:text="${recipe.description}"></p>
            <div class="d-flex">
                <a class="btn btn-info mx-1" th:href="@{'/recipes/' + ${recipe.recipeId}}">Bővebben</a>
                <a th:href="@{'/recipes/edit/' + ${recipe.recipeId}}" class="btn btn-primary mx-1">Szerkesztés</a>
                <a th:href="@{'/recipes/delete/' + ${recipe.recipeId}}" class="btn btn-danger mx-1">Törlés</a>
            </div>
        </div>
    </div>
</main>


<footer th:replace="fragments :: footer"></footer>
<script th:replace="fragments::bootstrap_js"></script>
</body>
</html>