<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Saját receptek</title>
    <link rel="stylesheet" th:href="@{/css/my_recipes.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div class="container">

    <header th:replace="fragments :: header"></header>

    <aside th:replace="fragments :: aside_left"></aside>

    <aside th:replace="fragments :: aside_right"></aside>

    <footer th:replace="fragments :: footer"></footer>

    <!--From here comes the code that differs -->
    <main class="main">
        <p>
            <a class="buttonmod" href="/recipes/create">Új recept hozzáadása</a>
        </p>
        <section>
            <div th:each="recipe : ${recipes}">
                <h1 th:text="${recipe.name}">Hétfő</h1>
                <img src="images/pancake.jpeg" title="food_img"/>
                <a th:href="@{'/recipes/' + ${recipe.recipeId}}">Elkészítem</a>
                <a th:href="@{'/recipes/edit/' + ${recipe.recipeId}}">Módosítás</a>
                <a th:href="@{'/recipes/delete/' + ${recipe.recipeId}}">Törlés</a>
            </div>


        </section>

    </main>

</div>
</body>
</html>

