<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${recipe.name}"></title>

    <link rel="stylesheet" th:href="@{/css/default.css}">
    <link th:replace="fragments :: bootstrap_css">
</head>
<body>
<div th:replace="fragments :: navbar"></div>
<div class="container" th:object="${recipe}">
    <h2 class="text-center mt-5 mb-4" th:text="*{name}"></h2>
    <hr>
    <p th:text="*{description}"></p>
    <div class="card mt-2">
        <div class="card-header">Hozzávalók</div>
        <ul class="list-group list-group-flush">
            <li th:each="ingredient : ${recipe.ingredients}" class="list-group-item" th:text="${ingredient}"></li>
        </ul>
    </div>
    <div class="card mt-2">
        <div class="card-header">Elkészítési lépések</div>
        <ul class="list-group list-group-flush">
            <li th:each="step : ${recipe.steps}" class="list-group-item" th:text="${step}"></li>
        </ul>
    </div>
</div>

<footer th:replace="fragments :: footer"></footer>
<script th:replace="fragments::bootstrap_js"></script>
</body>
</html>