body{
	background-color: rgba(250, 246, 237, 255);
	margin:0px;
	color: black;
	font-family: Georgia, Cambria, serif;
	max-width: 100%;
}
.container{
	display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 30vh auto 8% 8%;
}
.header{
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row: 1;
	background-color: #EEE8AA;
	padding-left: 2.5%;
	padding-right: 2.5%;
	padding-bottom: 25px;
	color: black;
	text-align: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	border: 2px solid black;
background-image: url(../images/header.jpeg);
	background-position: center;
	background-size: cover;
}

.cover{
	text-shadow: 3px 3px black;
	width: 80%;
	height: 80%;
	flex: content;
	color: white;
	font-size: 3.2vmin;
	font-weight: bold;
	background-position: center;
	background-clip: border-box;
	border-radius: 4px;
}


.header img{
	border:solid 4px #000000;
	box-shadow: 5px 5px ;
    border-radius: 4px;
	height: 15vmin;
	padding-top: 0%;
}

.nav{
	padding: 0px;
	margin-left: 0;
	border-bottom: solid 2px #000000;
}

.nav ul{

	list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
	padding-inline-start: 0;
}

.nav li{
	padding: 2%;
	margin: 2%;
	transition: background 0.5s;
	background-color: rgba(104,126,77,255);
	border: solid 1px rgb(61, 61, 61);
	border-radius: 10px;
	font-size: 2.2vmin;
}


.nav li:hover{
	background-color: #035800;
	border-radius: 1;
	border-width: 2;
	border: solid 1px #000000;
	border-radius: 14px;
}

.aside_left{
	border: solid #000000;
	border-top: 0;
	border-bottom: 0;
	border-width: 2;
	grid-column: 1;
	grid-row-start: 2;
	grid-row-end: 4;
	background-color: #b18256;
}

.aside_right{
	border: solid #000000;
	border-top: 0;
	border-bottom: 0;
	border-width: 2;
	grid-column: 3 ;
	grid-row-start: 2;
	grid-row-end: 4;
	background-color: #b18256;
	padding: 4%;
}

.adverts_left{
	color: black;
	padding: 2%;
	margin: 2%;
}
.adverts_right{

	border-top: solid 2px #000000;
	padding: 2%;
	
}
.offer{
	border-bottom: 2px #000000;
	margin: 2%;
	padding: 2%;
}

.foot_cpr{
	bottom:0;
}

.admins{
	color: black;
	padding: 4%;
	border-bottom: solid 2px #000000;
}


.admins ul{
	margin-inline-start: 0;
	padding-inline-start: 0;
	list-style-type: none;
}

.admins li{
	margin-inline-start: 0;
	font-size: 2.1vmin;
	font-size: 1.2vmax;
}

.nav a{
	color:#FFFFFF;
	text-decoration: none;
    text-transform: uppercase;
}

.aside_left img{
	max-width: 100%;
	border-radius: 5px;
	box-shadow: 2px 2px #343434;
}
.aside_right img{
	max-width: 100%;
	border-radius: 5px;
	box-shadow: 2px 2px #343434;
}


.sum{
	font-style: italic;
}

.footer{
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row: 4;
	font-size: 1.1rem;
	font-weight: bold;
	color:#000000;
	background-image: url(../pages/images/borito.jpeg);
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	border-top: 2px solid black;
  	width: 100%;
  	bottom: 0px;
  	left: 0px;
	background-color: #ffffff;
	display: flex; 
	flex-direction: row;
	justify-content: center;
}
.foot_cpr{
	color: #000000;
	position: center;
	padding-top: 2%;
	padding-left: 25%;
	padding-right: 25%;
	color: rgb(224, 226, 173);
	text-shadow: 2px 1px #575757;
}

footer .foot_youtube{
	color:#a40909;
	padding: 0.25%;
	padding-top: 3%;
	margin-left: 4%;
}

footer .foot_face{
	color:#1779b1;
	padding: 0.5%;
	padding-top: 3%;
	margin-right: 2%;
}

.random_offer{
	padding: 3%;
}

.random_offer p{
	color:rgb(255,255,255)
}

.random_offer a{
	width: 90%;
	margin: 3%;
	padding: 3%;
	background: rgba(104,126,77,255);
	color: #FFFFFF;
	text-decoration: none;
	display: inline-block;
	border-radius: 10px;
	transition: background 0.5s;
	text-align: center;
	border: solid 1px rgb(61, 61, 61);
}
.random_offer a:hover{
	cursor: pointer;

	background: #035800;
}

.random_offer a:active{
	box-shadow: 2px 2px #575757;
}


/* From here comes the code that differs */

.main{
	grid-row: 2;
	grid-column-start: 2;
	grid-column-end: 3;
	position: relative;
	padding: 5%;
	margin: 5%;
	text-align: center;
}

.loginbutton{
	color:#0025df;
	font-size: 120%;
	padding: 3%;
	margin: 5%;
	text-shadow: #575757 2px;
}

.loginbutton:hover{
	cursor: pointer;
	color: rgb(255, 255, 255);
	background: rgba(104,126,77,255);
	
}

.login_form label{
	display: block; 
	text-align: center;
	padding-top: 5px;
}

.login_form input{
	border: solid 1px #000000;
	border-radius: 4px;
	box-shadow: #575757 2px 2px;
}

