
.ingredient_list{
	list-style: none;
	
}

.ingredient_list li{
	margin: 2vh;
}

.ing_name{
	font-size: 2vmin;
}

.ing_qnt{
	font-style: italic;
	font-size: 2vmin;
}

.others{
	margin-inline-end: 0;
	flex: end;
	text-align: end;
}

.others #fname{
	width: 10vmin;
}

table.ingredient_table{
	padding: 1%;
	border-bottom: solid 1px black;
	width: 95%;
}